<%- include('partials/_header.ejs') -%> 

<body>
  <div>
    <h1>Profile</h1>
    <p><%= user.name %></p>
  </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
 
</body>

</html>